*{
    box-sizing: border-box;
    margin:0;
}

body{
    width:100vw;
    height:100vh;
    margin: 0;
    background-color: #35353f;
    display: flex;
    justify-content: center;
    font-family: Arial;
    color: white;
}

#topbar{
    width: 100%;
    height: 70px;
    background-color: #1b1b1e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

#container{
    width: 100%;
    height: 85%;
    background-color: #27272a;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

#variablesection{
    width: 100%;
    height:100%;
    background-color: #27272a;
    display: flex;
    align-items: center;
    flex-direction: column;
}  

#variablesection h1, #resultsection h1{
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 20px;
}

.inputcontainer{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    margin-top: 30px;
    width: calc(50% - 10px);
    font-size: 20px;
    white-space: nowrap;
}
#winrate{
    width: calc(50% - 10px);
    margin-right: calc(100% - (50% - 10px));
}

#winamount{
    width: calc(50% - 10px);
    margin-right: 0;
}

#lossamount{
    width: calc(50% - 10px);
    margin-left: 0;
}

#numberoftrades{
    width: calc(100%);
}

#commission{
    width: calc(50% - 10px);
    margin-right: calc(100% - (50% - 10px));
}

input{
    width: 100%;
    border-radius: 5px;
    background-color: #51565e;
    border: none;
    margin-top: -15px;
    color: rgb(219, 215, 215);
    font-size: 17px;
    padding-left: 10px
}

input::after{
    content: "%";
    position: absolute;
    right: 10px;
    
}

#variablecontainer{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

#mode{
    font-size: 24px;
    margin-top: 30px;
    width: calc(100% - 600px);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

#buttoncontainer{
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 5px;
}

button{
    height: 100%;
    background-color: #51565e;
    color: white;
    width: calc(50% - 10px);
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#presetcontainer{
    position: absolute;
    margin-top: 35px;
    left:91%;
    transform: translateX(-200%)
}

.preset{
    height: 25px;
    width:50px;
    background-color: #383c42;
}

.preset:hover{
    cursor: pointer;
    background-color: #464e5a;
}

.sign{
    left: 50%;
    transform: translateX(-200%);
    margin-top: 40px;
    font-size: 18px;
    color: #a5a7ab;
    position: absolute;
}

#lossamount .sign, #positionsize .sign{
    left: 80.3%;
    transform: translateX(-120%);
}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;  
}

#expectedvaluebutton{
    height: 100%;
    background-color: #51565e;
    color: white;
    width: calc(50% - 10px);
    border: 2px rgb(67, 175, 238) solid;
    border-radius: 5px;
    font-size: 18px;
}

#randombutton{
    height: 100%;
    background-color: #51565e;
    color: white;
    width: calc(50% - 10px);
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

#expectedvaluebutton:hover, #randombutton:hover{
    cursor: pointer;
    background-color: #59616e;
}

#calculate{
    height: 50px;
    width: calc(100% - 600px);
    margin-left: 300px;
    margin-right: 300px;
    background-color: #3e4857;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.1s;
}

input:focus{
    outline: none;
}

#resultsection{
    width: 100%;
    height:100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}  

#resultcontainer{
    width: 45%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

h2{
    margin: 0;
    width: auto;
    border: none;
    line-height: 1;
}
#endbalance{
    width: 100%;
    height: 70px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #617291;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 6px 0;
    transition: scale 0.1s;
}


#expectedvalue, #profitloss, #riskreward, #totalcommission{
    width: calc(50% - 10px);
    height: 70px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    background-color: #617291;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    padding: 6px 0;
    transition: scale 0.1s;
}

#chart{
    width: 100%;
    height: 370px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    margin-top: 30px;
}

#calculate:hover{
    cursor: pointer;
    background-color: #606a7a;
}

.resulttitle{
    font-size: 15px;
    margin-top: -5px;
    margin-bottom: 5px;
}

#endbalance:hover, #expectedvalue:hover, #profitloss:hover, #riskreward:hover, #totalcommission:hover{
    background-color: #697a99;
    scale: 1.05;
}

#endbalancetitle{
    margin-right: 30%;
}   

#error{
    width: 100%;
    height: 30px;
    color: #ff4d4d;
    font-size: 16px;
    position: absolute;
    margin-top: 30px;
    margin-left: calc(18% - 40px);
    text-wrap: wrap;
    white-space: wrap;
    width: 10%;
    display:none;
}

@media screen and (max-width: 768px) {
    body {
        overflow: auto;
        align-items: normal;
    }

    #container {
        display: flex;
        flex-direction: column; 
        flex-wrap: nowrap;     
        width: 90%;
        height: auto;
        margin-top: 50px;
    }

    #variablesection,
    #resultsection {
        width: 100%;       
        height: auto;
        border-radius: 0;
        padding: 12px 0;
    }

    #variablesection {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #resultsection {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    #variablecontainer,
    #resultcontainer {
        height: auto;
    }

    .inputcontainer {
        width: 100%;
    }

    .sign {
        left: 49%;
        transform: translateX(-150%);
    }

    #lossamount .sign, #positionsize .sign, #startbalance .sign {
    left: 87%;
    transform: translateX(-150%);
    }

    #error{
        margin-left: calc(50% - 40px);
        width: 30%;
    }
    #endbalancetitle{
        margin-left: 10%;
        margin-right: 10%;
    }

    #endbalancevalue{
        margin-right: 10%;
    }
}

@media screen and (max-height: 900px) {
    #container{
        height: auto;
    }

    #calculate{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1300px) {
    .preset{
        display: none;
    }

    #endbalance{
        font-size: 12px;
    }

    .inputcontainer{
        font-size: 16px;
    }
}